@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,900;1,300;1,400;1,500;1,700&display=swap');
@font-face {
    font-family: 'Android' ;
    src: url('../fontes/idroid.otf');
    font-weight: normal;
}
:root{
    --cor0:#c5ebd6;
    --cor1:#83e1ad;
    --cor2:#3ddc84;
    --cor3:#2fa866;
    --cor4:#1a5c37;
    --cor5:#063d1e;

    --font0:Arial,verdana,helvetica, sans-serif;
    --font1:'Bebas neue',cursive;
    --font2:'Android', cursive;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: var(--cor0);
    font-family: var(--font0);
}

header{
    background-image: linear-gradient(to bottom,var(--cor3),var(--cor5));
    background-color: var(--cor4);
    min-width: 150px;
    text-align: center;
    padding-top: 40px;

}

header > h1{
    color: white;
    font-family: var(--font1);
    font-size: 3em;
    margin-bottom: 20px;
    text-shadow: 0px 0px 0px black;

}

header > p{ 
    color: white;
    font-size: 1.2em;
    font-family: var(--font0);
    max-width:600px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    text-shadow: 2px 2px 2px rgba(17, 17, 17, 0.63);
}

nav{
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.548);
}
nav > a {
    color: white;
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
    transition-duration: 0.5s;
}

nav  > a:hover{
    background-color: var(--cor3);
    border-radius: 5px;
    color: var(--cor5);
}

main{
    background-color: white;
    padding: 20px;
    margin: auto;
    margin-bottom: 30px;
    min-width: 300px;
    max-width: 1000px;  
    box-shadow: 0px 0px 10px rgb(90, 90, 90);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
main h1{
    color: var(--cor4);
    font-family: var(--font2);
}
main h2{
    font-family: var(--font2);
}

main img{
    width:100%;
}
main img.pequena{
    width: 50%;
    display: block;
}
footer{
    background-color: #063d1e;
    color: white;
}

